@font-face {
  font-family:"DIN Pro";
  src: url("/fonts/DINPro-Regular_13937.ttf") format("truetype");
}

body{
  font-family: "DIN Pro", Helvetica, sans-serif;
  background-color: rgb(248, 248, 248);
  line-height: 2em;
  color: rgb(110, 110, 110);
}

h1{
  font-weight: 300;
  font-size: 3em;
}

h1,h5{
  margin: .25em 0;
}

h5{
  color: rgb(100, 100, 100);
}

p{
  font-weight: 600;
}

.section{
  height: fit-content;
  display: flex;
  padding: 3%;
}

.carosel{
  border-radius: 1%;
  height: fit-content;
  width: 40vw;
  background-color: rgb(248, 248, 248);
}

.slick-list .slick-slider{
  margin-top: 1%;
  border-radius: 1%;
  background-color: rgb(248, 248, 248);

}

.card{
  height: fit-content;
  margin-left: 5%;
  border: solid rgb(240, 240, 240);
}

.card-img-top{
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  width: 100%;
}

.card-body{
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  padding-bottom: 2%;
  border-radius: 1%;
  background-color: white;
}

.card-text-container{
  justify-self: flex-start;
  padding: 1em;
}

.card-text{
  height: 50%;
  text-align: center;
}

.logo{
  height: 48%;
  width: 20%;
  vertical-align: center;
  padding-bottom: 2%;
}

.info-container{
  padding: 0 10%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.info-container > p{
  margin-bottom: 5%;
}

.dropdown-container{
  border: solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: .2em;
  background-color: white;
}

.dropdown-header{
  height: 10vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  border-radius: .2em;

}

.dropdown-header-text{
  justify-content: space-between;
  align-items: center;
  border-radius: .2em;
}

.dropdown-content{
  margin: 5% 15% 5% 5%;
}


.dollar-sign{
  height: 80%;
  border-radius: 50%;
  animation: radial-pulse 2s infinite;
}

i {
  border: solid rgb(130, 130, 130);
  border-width: 0 .15em .15em 0;
  display: inline-block;
  padding: .25em;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0rem rgba(255, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 .5rem rgba(255, 0, 0, 0);
  }
}

@media only screen and 
  (max-device-width: 800px) {
  .section{
    flex-flow: wrap;
    justify-content: center;
    padding: 1%;
  }
  
  .carosel,.slick-list,.slick-slider{
    border-radius: 1%;
    width: 70vw;
    justify-self: flex-start;
  }

  .info-container{
    width: 90vw;
    align-items: center;
  }

  .info-container > p {
    text-align: center;
  }
}

@media only screen and 
  (max-device-width: 680px) {
    .section{
      flex-flow: wrap;
      justify-content: center;
      padding: 0;
    }

    .carosel,.slick-list,.slick-slider{
      border-radius: 1%;
      width: 90vw;
      justify-self: flex-start;
    }

    h5{
      margin-top: 5em;
    }

    h1{
      line-height: 1.2em;
    }

    .info-container{
      width: 90vw;
      align-items: flex-start;
    }
  
    .info-container > p {
      text-align: left;
    }

    .dollar-sign{
      height: 50%;
      margin: 3%;
    }

    .dropdown-header-text{
      line-height: 1em;
    }

    i, .down {
      margin-right: 1em;
    }
}

@media only screen
  and (min-device-width: 750px)
  and (max-device-width: 1000px) {
    h5{
      margin-top: 5em;
    }

    h1{
      line-height: 1.2em;
    }
  }

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .dollar-sign{
      height: 50%;
    }

    h1{
      line-height: 1.2em;
    }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .dollar-sign{
      height: 50%;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .dollar-sign{
      height: 50%;
    }
}